* {
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 0px){
  @for $i from 1 through 10 {
    .col-#{$i} {
      width: 8.333333% * $i;
      background-color: aqua;
      border-radius: 10px;
      box-shadow: 5px 5px 25px black;
      padding: 10px;
      box-sizing: border-box;
      margin-top: 50px;
    }
  }

  @for $i from 1 through 10 {
    .offset-#{$i} {
      margin-left: 8.333333% * $i;
    }
  }
}

@media only screen and (min-width: 576px){
  @for $i from 1 through 10 {
    .col-sm-#{$i} {
      width: 8.333333% * $i;
      background-color: blueviolet;
      color: white;
      border-radius: 10px;
      box-shadow: 5px 5px 25px black;
      padding: 10px;
      box-sizing: border-box;
      margin-top: 50px;
    }
  }

  @for $i from 1 through 10 {
    .offset-sm-#{$i} {
      margin-left: 8.333333% * $i;
    }
  }
}

@media only screen and (min-width: 992px){
  @for $i from 1 through 10 {
    .col-lg-#{$i} {
      width: 8.333333% * $i;
      background-color: rgb(49, 43, 226);
      color: white;
      border-radius: 10px;
      box-shadow: 5px 5px 25px black;
      padding: 10px;
      box-sizing: border-box;
      margin-top: 50px;
    }
  }

  @for $i from 1 through 10 {
    .offset-lg-#{$i} {
      margin-left: 8.333333% * $i;
    }
  }
}